* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

a {
	display: block;
	text-decoration: none;
	color: #333;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	border-bottom: 1px #ccc solid;
	padding: 1em;
	text-align: center;
}
